mat-form-field.mat-form-field {
  position: relative;
  font-size: 16px;
  /* color: blue;
  background-color: rgb(211, 209, 231); 
  border: solid 5px #c0c0ff;*/
}

.form-container{
  /* position: relative;
  justify-content: center;
  align-content: center;
   left: 50%;
  top: 50%;
  transform: transalate(-50%,-50%); */
  position: fixed;
  top: 40%;
  left: 20%;
  margin-top: -50px;
  margin-left: -100px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
 .mat-form-field ~ .mat-form-field {
  margin-left: 12px;
} 

.search-icon{
  color: blue;
  transform: scale(1.5);
  margin-left: 40px;
}

#home-header{
  position: relative;
  font-weight: bold;
  /* font-size: 50px; */
  justify-content: center;
  align-content: center;
  display: flex;
  color: rgb(88, 85, 134);
  border: 20px;
  top: 50px;
  font-style: oblique;
  text-shadow: 2px 2px #fff;

}

/* #header-img{
  width: 10%;
  height: 50px;
  position: relative;

} */