<div class="container">
    <h1 *ngIf="isAddMode">Add Airport</h1>
    <h1 *ngIf="!isAddMode">Edit Airport</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-5">
                <mat-form-field appearance="fill">
                    <mat-label>Airport Name</mat-label>
                    <input type="text" formControlName="airportName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.airportName.errors }" matInput
                        placeholder="airportName">
                    <div *ngIf="submitted && f.airportName.errors" class="invalid-feedback">
                        <div *ngIf="f.airportName.errors.required">Airport Name is required</div>
                    </div>
                </mat-form-field>
                <div class="form-group col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Airport Location</mat-label>
                        <input type="text" formControlName="airportLocation" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.airportLocation.errors }" matInput
                            placeholder="airportLocation">
                        <div *ngIf="submitted && f.airportLocation.errors" class="invalid-feedback">
                            <div *ngIf="f.airportLocation.errors.required">Airport Location is required</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="form-group col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Airport Code</mat-label>
                        <input type="text" formControlName="airportCode" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.airportCode.errors }" matInput
                            placeholder="airportCode">
                        <div *ngIf="submitted && f.airportCode.errors" class="invalid-feedback">
                            <div *ngIf="f.airportCode.errors.required">Airport Code is required</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="form-group col-5">
                    <mat-form-field>
                        <mat-select formControlName="status" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.status.errors }" placeholder="status">
                            <mat-option *ngFor="let i of statusArray" [value]="i.id">
                                {{i.name}}
                            </mat-option>
                        </mat-select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">status is required</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="form-group" style="display: table-cell;width: 490px;display: flex;">
                    <button mat-stroked-button color="primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>