<div class="bookingPage">
    <form [formGroup]="form" class="text-center border border-light p-5" (ngSubmit)="onSubmit()" #bookform="ngForm">

        <p class="h4 mb-4">Book You Ticket</p>
        <!-- <mat-form-field appearance="outline" class="width-1">
            <mat-label>Phone</mat-label>
            <input maxlength="50" matInput formControlName="phone" placeholder="Phone" #phone required />
            <mat-error>Error! only numbers are allowed [91+10digits]</mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="width-1">
            <mat-label>Email</mat-label>
            <input formControlName="email" maxlength="50" placeholder="email@address.com" autocomplete="off" type="text"
                matInput #email required />
            <mat-error>Error! email is incorrect</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-1">
            <mat-label>DepartureDate</mat-label>
            <input matInput [readonly]="true" formControlName="departureDate" type="text" #departureDate required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-1">
            <mat-label>flightId</mat-label>
            <input matInput [readonly]="true" formControlName="flightId" type="text" #flightId />
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-1">
            <mat-label>No. of Passengers</mat-label>
            <input maxlength="1" matInput formControlName="noOfSeats" placeholder="number of persons on board"
                (input)="inputTotal(noOfSeats.value)" #noOfSeats required />
        </mat-form-field>
        <br>

        <div formArrayName="passengerDetails">
            <p class="h4 mb-4">PassengerDetails</p>
            <div *ngFor="let _ of passengerDetails?.controls; let i = index" [formGroupName]="i">
                <div class="container1">
                    <div class="row justify-content-start">
                        <div class="col-md-2">
                            <mat-form-field appearance="outline" class="width-1">
                                <mat-label>Passenger {{i+1}}'s name</mat-label>
                                <input maxlength="20" matInput formControlName="passengerName" placeholder="Enter Name"
                                    required />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field appearance="outline" class="width-1">
                                <mat-label>Passenger {{i+1}}'s Id Number</mat-label>
                                <input maxlength="16" matInput formControlName="idProofNumber"
                                    placeholder="Enter Id Number" required />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field appearance="outline" class="width-1">
                                <mat-label>Passenger {{i+1}}'s age</mat-label>
                                <input matInput formControlName="age" placeholder="Age" required />
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-2">
                            <mat-radio-group aria-label="Gender" class="radio" name="gender" formControlName="gender">
                                <mat-radio-button value="Other">Other</mat-radio-button>
                                <mat-radio-button value="Male">Male </mat-radio-button>
                                <mat-radio-button value="Female">Female</mat-radio-button>
                            </mat-radio-group>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="center">
            <button mat-raised-button color="warn">Submit</button>
        </div>
    </form>
</div>