<div class="container">
    <h1 *ngIf="isAddMode">Add Airline</h1>
    <h1 *ngIf="!isAddMode">Edit Airline</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-5">
                <mat-form-field appearance="fill">
                    <mat-label>Airport Name</mat-label>
                    <input type="text" formControlName="airlineName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.airlineName.errors }" matInput
                        placeholder="airlineName">
                    <div *ngIf="submitted && f.airlineName.errors" class="invalid-feedback">
                        <div *ngIf="f.airlineName.errors.required">Airport Name is required</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group col-5">
                <mat-form-field appearance="fill">
                    <mat-label>Logo</mat-label>
                    <input type="text" formControlName="airlineLogo" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.airlineLogo.errors }" matInput
                        placeholder="airlineLogo">
                    <div *ngIf="submitted && f.airlineLogo.errors" class="invalid-feedback">
                        <div *ngIf="f.airlineLogo.errors.required">Airport Logo is required</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group col-5">
                <mat-form-field>
                    <mat-select formControlName="status" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.status.errors }" placeholder="status">
                        <mat-option *ngFor="let i of statusArray" [value]="i.id">
                            {{i.name}}
                        </mat-option>
                    </mat-select>
                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                        <div *ngIf="f.status.errors.required">status is required</div>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group" style="display: table-cell;width: 490px;display: flex;">
            <button mat-stroked-button color="primary">Save</button>
        </div>
    </form>
</div>